body {
    width: 100%;
    height: 100vh;
    background-position: 0% 0%;
    background-image: url(/img/backgd.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}
.anh #anh {
    position: absolute;
    width: 30%;
    left: 150px;
    bottom: 120px;
}
.anh button {
    position: absolute;
    left: 325px;
    bottom: 25px;
    background-color: rgb(93,219,167);
    color: black;
    border: 0;
}
.anh #tac_ke {
    position: absolute;
    width: 5%;
    left: 300px;
    bottom: 27px;
}
.anh #buom_1 {
    position: absolute;
    width: 8%;
    left: 75px;
    top: 55px;
}
.anh #hac {
    position: absolute;
    width: 6%;
    left: 600px;
    bottom: 25px;
}
.header {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    font-family: 'Amatic SC', cursive;
}
.header b {
    font-size: 80px;
}
.header #buom_2 {
    position: absolute;
    width: 25%;
    top: 5px;
    right: 315px;
}
.header #buom_3 {
    position: absolute;
    width: 45%;
    left: 300px;
    bottom: 5px;
}
.justify-content-md-end img {
    position: absolute;
    width: 10%;
    right: 140px;
    bottom: 80px;
}
.justify-content-md-end h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
}